:root {
    --light: #E2EADC;
    --dark: #F85419;
    --border-color: #555;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--light);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
}
  
h1 {
    font-size: 4.5rem;
}
  
h2 {
    font-size: 3.5rem;
}
  
h3 {
    font-size: 3rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

header {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 13px 0;
}

.title {
    background-color: var(--light);
    padding: 5px 10px 7px 25px;
}

.nav-bar li {
    display: inline-block;
    margin: 0 20px;
    font-size: 2.0rem;
    font-weight: 700;
    color: var(--light);
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid var(--border-color);
    background-image: url(./background.jpg);
}

.profile-picture {
    height: 300px;
    border: 3px solid var(--border-color);
    border-radius: 5%;
    margin-top: 5px;
    box-shadow: 5px 5px 10px var(--border-color);
}

.subheader h2 {
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    border: 3px solid var(--border-color);
    border-radius: 56px;
    font-size: 4.0rem;
    box-shadow: 5px 5px 10px var(--border-color);
}

main {
    display: flex;

}

aside {
    width: 75%;
    margin-top: 20px;
    text-align: right;
}

.about-me-div {
    padding-right: 30px;
    padding-bottom: 120px;
    border-right: 3px solid var(--border-color);
    margin: 20px 0 80px 0;
}

.projects-div {
    padding-right: 30px;
    padding-bottom: 1150px;
    border-right: 3px solid var(--border-color);
    margin-top: 0px;
}

section {
    margin: 70px 50px;
}

section p {
    margin-bottom: 140px;
}

.main-project img {
    width: 100%;
    border: 3px solid var(--border-color);
    opacity: 1;
    transition: .5s ease-in-out;
}

.main-project:hover img {
    opacity: .5;
}


.main-project {
    position: relative;
    text-align: center;
    color: white;
}

.main-project .text {
    position: absolute;
    font-size: 3.0rem;
    bottom: 50px;
    left: 2px;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 10px 0 25px;
}


.other-projects img {
    width: 400px;
    padding: 0 100px;
    border: 3px solid var(--border-color);
    margin: 20px 30px;
}



.other-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.project-1, .project-2, .project-3, .project-4 {
    position: relative;
    text-align: center;
    color: white;
}

.project-1 .text {
    position: absolute;
    font-size: 1.5rem;
    bottom: 75px;
    left: 32.5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 10px 0 25px;
}

.project-2 .text {
    position: absolute;
    font-size: 1.5rem;
    bottom: 75px;
    left: 32.5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 10px 0 25px;
}

.project-3 .text {
    position: absolute;
    font-size: 1.5rem;
    bottom: 75px;
    left: 32.5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 10px 0 25px;
}

.project-4 .text {
    position: absolute;
    font-size: 1.5rem;
    bottom: 75px;
    left: 32.5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 10px 0 25px;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 20px 0;
    margin-top: 50px;
}

.contact-me-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-links li {
    display: inline-block;
    color: var(--light);
    margin: 0 30px;
}

.project-1 img{
    opacity: 1;
    transition: .5s ease-in-out;
}

.project-2 img{
    opacity: 1;
    transition: .5s ease-in-out;
}

.project-3 img{
    opacity: 1;
    transition: .5s ease-in-out;
}

.project-4 img{
    opacity: 1;
    transition: .5s ease-in-out;
}

.project-1:hover img {
    opacity: .5;
}

.project-2:hover img {
    opacity: .5;
}

.project-3:hover img {
    opacity: .5;
}

.project-4:hover img {
    opacity: .5;
}

.contact-links li {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    nav,
    .subheader {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    header {
        display: block;
        width: auto;
    }
}